/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: 1.5;

  margin: 0;
  padding: 0;
}


body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

ul,
ul li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Main styles */

@font-face {
  font-family: Norse;
  src: url(./fonts/Norse-Bold.otf) format("opentype");
  font-weight: bold;
}

:root {
  --primary-color: #ebf4f4;
  --secondary-color: #FFFFFF;
  --accent-color: #03023b;
  --valid-color: #00a573;
  --invalid-color: #e04100;
}

* {
  color: var(--accent-color);
  font-family: Arial, Verdana, "Trebuchet MS", sans-serif;
}

::selection {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

:focus {
  outline-color: var(--accent-color);
  outline-offset: 0.2em;
}

body {
  background-color: var(--secondary-color);
  font-size: 1rem;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  background-color: var(--primary-color);
  display: flex;
  align-items: stretch;

  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: min(100%, 1280px);
}

/* Image with logo block */

.side-image {
  flex: 1 1 384px;
  position: relative;
}

.odin-logo-block {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 25%;

  padding: 0 5%;
}

.odin-logo {
  height: 8rem;
}

.odin-logo>g {
  fill: var(--accent-color);
}

.odin-logo-block>h1 {
  font-family: Norse;
  font-size: 6rem;
}

.background-image {
  position: absolute;
  bottom: 0;
}

/* Main block with form */

main {
  flex: 1 1 896px;
  padding: 2rem 0;
}

.appeal {
  font-size: 1.5rem;
  padding: 0 2rem;
}

.appeal>p:nth-of-type(2) {
  margin-bottom: 1em;
}

form {
  margin: 2rem 0;
}

.form-inputs {
  background-color: var(--secondary-color);
  box-shadow: 0 6px 5px -6px #03023b;

  margin-bottom: 2rem;
  padding: 1.5rem 2rem 2rem 2rem;
}

.form-inputs>p:first-of-type {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-inputs>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 2.5rem;
}

label {
  display: block;
}

.form-inputs>p:last-of-type {
  font-style: italic;
}

input {
  appearance: none;
  background-color: var(--secondary-color);

  border: none;
  border-bottom: 1px solid var(--accent-color);
  height: 2em;
  outline: none;
  width: 30ch;
}

input:focus {
  background-color: var(--primary-color);
}

.valid-input {
  border-bottom: 2px solid var(--valid-color);
  height: calc(2em - 1px);
}

.invalid-input {
  border-bottom: 2px solid var(--invalid-color);
  height: calc(2em - 1px);
}

input+span {
  font-weight: bold;
}

.input-warning-text {
  color: var(--invalid-color);
  font-size: 0.8rem;

  height: 2.5rem;
  width: 40ch;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);

  border: none;
  border-radius: 0.5em;
  cursor: pointer;

  margin-left: 2rem;
  padding: 0.5em 1em;

  transition: transform 0.15s;
}

button:active {
  transform: translateY(0.1em);
}

.redirect-to-login {
  padding-left: 2rem;
}

/* For mobile devices */

.odin-logo-block-for-mobile {
  background-color: var(--secondary-color);
  display: none;
  position: static;
  margin-bottom: 2rem;
}

.background-image-for-mobile {
  display: none;
  position: static;
  margin-top: -20%;
}

@media (max-width: 767px) {
  .side-image {
    display: none;
  }

  main {
    padding: 0;
  }

  .odin-logo-block-for-mobile {
    display: flex;
  }

  .background-image-for-mobile {
    display: block;
  }
}

/* If OS color theme dark, then change colors */

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #03023b;
    --secondary-color: #190252;
    --accent-color: #ebf4f4;
  }
}